
<div class="grid-container">
	<div class="grid-50 prefix-25 suffix-25" id="productForm">



<h1>Editing product</h1>

<%= render 'form' %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>



</div></div>
